@page
@model IndexModel
@{
    ViewData["Title"] = "Fortune Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>

        <h2 class="display-4">I think this is for you!</h2>

        <p style="font-size: 30px">
            <strong>@Model.FortuneMessage</strong>
        </p>
    </div>
